.formItem {
    display   : flex;
    border    : 1px solid #ddd;
    position  : relative;
    font-size : 15px;
    padding   : 5px 10px;
    margin-top: -1px;
}

.formItem.focus {
    border-color: #329fd9;
}

.formItem.with-error {
    border-color: #de3939;
    z-index     : 1;
}

.formItem.focus {
    z-index: 2;
}

.formItem input.auto-complete-input {
    border    : none;
    outline   : none;
    width     : 100%;
    font-size : 15px;
    box-sizing: border-box;
    padding-left: 2px;
}

.auto-complete-dropdown-menu {
    border-radius: 3px;
    box-shadow   : 0 2px 12px rgba(0, 0, 0, 0.1);
    background   : rgba(255, 255, 255, 0.9);
    padding      : 2px 0;
    font-size    : 90%;
    position     : fixed;
    overflow     : auto;
    max-height   : 50%;
    margin-top   : 10px;
    z-index      : 2;
}

.auto-complete-opt-item {
    padding: 8px 10px;
    cursor : pointer;
}